body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.main-content {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2em;
    padding: 2em;
}

#question-section {
    background-color: #333;
}

#correct-box {
    background-color: rgb(63, 226, 90);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#incorrect-box {
    background-color: rgb(196, 62, 62);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:black;
    font-size: 20pt;
}

.result {
    color: black;
    font-size: 50pt;
    font-weight: bold;
}

.next-button {
    background-color: #555;
}

#question-text {
    font-size: 40pt;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-choices {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: stretch;
}

.answer-button {
    background-color: #555;
    border: 0.2em solid #aaa;
    border-radius: 2em;
    width: 100%;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-button:hover {
    background-color: #777;
}

.answer-button:active {
    background-color: #999;
}