body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.main-content {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2em;
    padding: 2em;
}

#question-section,
#block-summary {
    background-color: #333;
}

#correct-box {
    background-color: rgb(63, 226, 90);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#incorrect-box {
    background-color: rgb(196, 62, 62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:black;
    font-size: 20pt;
}

.result {
    color: black;
    font-size: 60pt;
    font-weight: bold;
    margin: 1em;
}

.continue-button {
    width: fit-content;
    font-size: 25pt;
    padding: 0.5em;
    margin: 1em auto;
    border-radius: 1em;
    border: 0.2em solid black;
}

.continue-button:hover {
    cursor: pointer;
    background-color: #ffffff33;
}

.continue-button:active {
    background-color: #ffffff66;
}

#question-text {
    font-size: 40pt;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-choices {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: stretch;
}

.answer-button {
    background-color: #555;
    border: 0.2em solid #aaa;
    border-radius: 2em;
    width: 100%; /* TODO: Make this auto*/
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-button:hover {
    background-color: #777;
    cursor: pointer;
}

.answer-button:active {
    background-color: #999;
}

#block-summary > h1 {
    font-size: 40pt;
    margin-bottom: 1em;
}

#summary {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1em auto;
    height: 50%;
    overflow: scroll;
}

.summary-item {
    background-color: #555;
    margin: 0.5em;
    padding: 2em;
    display: flex;
    border-radius: 1em;
}

.summary-question {
    width: 50%;
    font-size: 1.8em;
    padding: 0 0.5em;
}

.confidence-summary {
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confidence-summary > span {
    font-size: 1.1em;
}

.confidence-bar {
    background-color: rgb(196, 62, 62);
    height: 2em;
    width: 80%;
    border-radius: 1em;
    overflow: hidden;
}

.confidence-bar > div {
    height: 100%;
    background-color:rgb(63, 226, 90);
}